body {
    padding-top: 0px;
}
.prespacing{
    padding-top:80px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.btn{
    margin-bottom: 10px ;
}

.hidden{
    display:none;
}

.card{
    margin-bottom: 5px;
    margin-top: 5px;
}

.vertical {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 20px;
    height: 20px;
}
.form-check{
    margin-bottom: 10px;
}

.lnk {
    color:#3D8CB9;
}
.lnk-remove{
    color:red;
}
.lnk-blue{
    color:#3D8CB9;
}
.lnk-grey{
    color:#bebebe;
}

.anodeco{
    cursor: default;
    text-decoration: none;
    color: black;
}
.form-group{
    margin-bottom: 15px !important;
}

.wiz_nav_subline{
    font-size: 80%;
    font-weight: bold;
}
.wizzard_header{
    margin-top: 15px;
    margin-bottom: 20px;

}

.btndefspace{
    margin-bottom: 20px;
}

.speichernbtnform{
    margin-top: 20px;
}
.tableheadrow{
    background-color:#CFCFCF;
}

.btn-primary{
    background-color:#3D8CB9;
}
.matrixtablerow{
    text-align: center;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.previewimg{
    width: 300px;
    margin-bottom: 15px;
}

table{
    font-size: 14px !important;
}

.fahrzeug{
    border-bottom: 1px solid #fefefe;
    border-right: 1px solid #fefefe;
    border-left: 1px solid #fefefe;

    width: 180px;
    text-align:center;
    padding:4px;
}
.fahrzeug_name{
    line-height: 14px;
}
.fahrzeug_btn{

}

.body-dark{
    background-color: #333333;
    color: #fefefe;
}
#fahrzeuge{
    float:left;
    background-color: #555555;
    min-height: 800px;
    text-align:center;

}

#funk{
    float:right;
    background-color: #555555;
    min-height: 800px;
    text-align:center;
}


#meldungen{
     text-align:center;
     margin-left: 5px;
     float:left;
     width: 1520px;
     height: 500px;
    font-size: 10px;
}

td{
    padding: 2px !important;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
    border: 1px solid;
    width: 5px;
}

th.rotate > div {
    transform:
            translate(25px, 51px)
            rotate(270deg);
}